server:
  port: 8500
eureka:
  client:
    service-url:
      defaultZone: http://euk01.com:7000/eureka
#连接超时时间(ms)
ribbon:
  ConnectTimeout: 1000
#业务逻辑超时时间(ms)
  ReadTimeout: 2000
#同一台实例最大重试次数,不包括首次调用
  MaxAutoRetries: 2
#重试负载均衡其他的实例最大重试次数,不包括首次调用  重试几台服务器
  MaxAutoRetriesNextServer: 1
#是否所有操作都重试
  OkToRetryOnAllOperations: false
feign:
  hystrix:
    enabled: true
management:
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
spring:
  #zipkin
  zipkin:
    base-url: http://localhost:9411/
    #采样比例1
  sleuth:
    sampler:
      rate: 1
  application:
    name: user-consumer
  boot:
    admin:
      client:
        url: http://localhost:9000